modules = ["python-3.10", "c-clang14", "bash"]
run = "run = \"python3 infra/streamlit_app.py"

[nix]
channel = "stable-24_05"
packages = ["cargo", "glibcLocales", "imagemagick_light", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[deployment]
run = ["sh", "-c", "run = \"python3 infra/streamlit_app.py"]

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000
run = "streamlit run app.py"

[env]
PORT = "8501"
